// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Development vars
$dev: true;

// Utility Colors
$highlight-text-color: #fff2a8;

$brand-primary: blue;
